﻿@model BlogCamp.Models.Article

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div class="row mgTp">
        <form asp-action="Create" enctype="multipart/form-data" class="col-md-6 offset-md-3">
            <h3 class="title">Create article</h3>
            <hr class="divisor">
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleText" class="control-label"></label>
                <textarea class="form-control" asp-for="ArticleText" rows="5"></textarea>
                <span asp-validation-for="ArticleText" class="text-danger"></span>
            </div>
            <div class="form">

                <input type="file" asp-for="Image" />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
