﻿@model BlogCamp.Models.Article


    @Html.Display("Delete")

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleText)
        </dt>
        <dt>
            @{
                var imagePath = $"/image/{Model.Image}";
                <img src="@imagePath" alt="Article Image" width="100" height="100" />
            }
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.ArticleText)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
