﻿@model BlogCamp.Models.Article
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@{
    ViewData["Title"] = "Details";

}

<script type="text/javascript">

    var ArticleID = '@Model.ID';
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div>
    <div class="text-sm-center"><h2>@Html.DisplayNameFor(model => model.Username)</h2></div>
    <div class="col">
        <div class="text-sm-center">
            @{
                var imagePath = $"/image/{Model.Image}";
                <img src="@imagePath" alt="Article Image" class="align-items-center rounded-circle img-fluid img-thumbnail" style="max-height:200px" />
            }
            <hr>
            <div class="d-inline-block">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Vote"))
                {
                    <div>
                        <button class="btn btn-outline-dark btn-sm">@Html.ActionLink("Like", "Like", new { id = Model.ID })</button>
                        @ViewBag.Likes Likes<br />
                    </div>

                    <p></p>

                    <div>
                        <button class="btn btn-outline-dark btn-sm"> @Html.ActionLink("Dislike", "Dislike", new { id = Model.ID })</button>
                        @ViewBag.Dislikes Dislikes<br />
                    </div>
                }
                <hr>

                <div class="text-sm-center">
                    <h4>@Html.DisplayFor(model => model.Caption)</h4>
                </div>
                <div class="text-sm-left">
                    @Html.DisplayFor(model => model.ArticleText)
                </div>

            </div>

        </div>

        <dl class="row">
        </dl>
    </div>
    <div class="text-sm-center">
        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a class="btn btn-outline-dark btn-sm" asp-action="Index">Back to List</a>
    </div>
    <hr />
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Comments"))
    {
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea id="comment" class="form-control" rows="3"></textarea>
                        </div>
                        <button id="addComment" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        }

        @foreach (var comment in ViewBag.Comments)
        {
            <div class="media mb-4">
                <img id="comment" class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">@comment.Username</h5>
                    @comment.CommentText
                </div>
                <div class="btn btn-outline-dark btn-lg" type="button" data-toggle="modal" data-target="#exampleModal">
                   Edit
                </div>    
                  

                <form asp-action="Edit" asp-controller="Comments"  asp-route-articleid="@comment.ArticleID" asp-route-id="@comment.ID">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Comments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                           
                                        <input type="hidden" asp-route-id="@comment.ID" />
                                        <div class="form-group">
                                            <h5 class="mt-0">@comment.Username</h5>
                                            <label @comment.CommentText class="control-label"></label>
                                            <input @comment.CommentText class="form-control" />
                                            <span @comment.CommentText class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                           
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p></p>
                <form asp-action="Delete" asp-controller="Comments" asp-route-id="@comment.ID" asp-route-articleid="@comment.ArticleID">
                   <p></p>

                    <input type="submit" value="Delete" class="btn btn-danger" />
                    
                </form>
            </div>
        }
    }
</div>
<script src="~/js/ArticleDetails.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

