﻿@model IEnumerable<BlogCamp.Models.Article>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@{


    ViewData["Title"] = "Index";

}

<h1>Article Manage</h1>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/blogblogs.css" />
@if (SignInManager.IsSignedIn(User) && User.IsInRole("AddArticle"))
{
    <p>
        <a class="btn btn-outline-dark btn-lg" asp-action="Create">Create New</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="display:none">
                @Html.DisplayNameFor(model => model.ArticleText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @{
                        var imagePath = $"/image/{item.Image}";
                        <img src="@imagePath" alt="Article Image" width="200" height="100" class="rounded-circle" />
                    }
                </td>
                <td class="col-6 blockquote">
                    <div class="card example-1 scrollbar-deep-purple" style="width:auto">
                        <div class="card-body">

                            <p>
                                @Html.DisplayFor(modelItem => item.ArticleText)
                            </p>
                        </div>
                    </div>

                </td>
                <td class="col-md-12 text-center">
                    <a class="btn btn-outline-dark btn-lg" asp-action="Edit" asp-route-id="@item.ID">Edit</a> <p></p>
                    <a class="btn btn-outline-dark btn-lg" asp-action="Details" asp-route-id="@item.ID">Details</a> <p></p>
                    <a class="btn btn-outline-dark btn-lg" asp-action="Delete" asp-route-id="@item.ID">Delete</a><p></p>
                </td>

            </tr>
        }
    </tbody>
</table>
<hr />
