﻿@using BlogCamp.Models
@model IEnumerable<BlogUser>
@{
    ViewData["Title"] = "Admin Page";
}

<h1>Admin Can view this page</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        User Manage
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>

        @foreach (var user in ViewBag.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>

                <td>
                    @using (Html.BeginForm("Delete", "Admin", new { id = user.Id }))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = user.Id },
                            new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 10px" })
                        <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                    }
                </td>
            </tr>
        }

    </table>
</div>
@Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })

