﻿@model BlogCamp.Services.ServiceLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (!SignInManager.IsSignedIn(User))
{

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/blogblogs.css" />
<div class="d-inline-flex">
    <div class="flex-column-reverse text-white">
        <h3 class="text-center"> Last 5 articles </h3>
        @foreach (var article in ViewBag.Latest)
        {
            string short_article;
            short article_lenght = 100;
            if (article.ArticleText.Length < article_lenght)
            {
                short_article = article.ArticleText;
            }
            else
            {
                short_article = article.ArticleText.Substring(0, article_lenght) + "...";
            }
            <p></p>
            <div class="col-md-12 text-md-left">


                <div class="card-body form-group shadow-textarea border border-secondary ">

                    <h8 id="section1">
                        @{
                            var imagePath = $"/image/{article.Image}";
                            <img src="@imagePath" alt="Article Image" width="110" height="70" class="rounded-circle" />
                        }<strong>@article.Caption &nbsp; @article.Date</strong>
                    </h8>

                    <p>

                        @short_article
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.ID">Learn more</a>
                        
                    </p>
                </div>


            </div>
        }

    </div>
    
    <div class="flex-column-reverse  text-white">
        <h3 class="text-center"> Top 3 articles </h3>
        @foreach (var article in ViewBag.MostVoted)
        {
            string short_article;
            short article_lenght = 200;
            if (article.ArticleText.Length < article_lenght)
            {
                short_article = article.ArticleText;
            }
            else
            {
                short_article = article.ArticleText.Substring(0, article_lenght) + "...";
            }
            <p></p>
            <div class="col-lg-8">
                <div class="card-body form-group shadow-textarea border border-secondary">



                    <h8 id="section1">
                        @{
                            var imagePath = $"/image/{article.Image}";
                            <img src="@imagePath" alt="Article Image" width="110" height="70" class="rounded-circle" />
                        }<strong>@article.Caption &nbsp; @article.Date</strong>
                    </h8>

                    <p>

                        @short_article
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.ID">Learn more</a>
                    </p>

                </div>

            </div>
        }
    </div>
</div> 
<div class="flex-column-reverse">
    <form action="/" method="get">
        <input type="text" name="search" value="" placeholder="Search Blog" />
    </form>
</div>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
