﻿@page
@model LoginModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogCamp.Models.BlogUser> SignInManager
@inject UserManager<BlogCamp.Models.BlogUser> UserManager



<div class="container">
    <div class="row mgTp">
        <form id="account" method="post" class="col-md-6 offset-md-3">
            <h3 class="title">Please sign in</h3>
            <hr class="divisor">
            <div class="form-group">

                <input placeholder="Username" asp-for="Input.Username" class="form-control" />

            </div>
            <div class="form-group">

                <input placeholder="Password" asp-for="Input.Password" class="form-control" />

            </div>
            <div class="form-check">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
            <button type="submit" class="btn btn-outline-dark">Log in</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
