﻿@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New role</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

    
</form>
<p></p>
<a class="btn btn-outline-dark btn-sm" asp-action="Index">Back</a>