﻿@model IEnumerable<BlogCamp.Models.BlogUser>

<h2>List of users</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        User Manage
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                   <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Change permissions</a>
               
                    <p></p>
                    @using (Html.BeginForm("Delete", "Admin", new { id = user.Id }))
                    {
                    
                        <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                    }
                </td>
            </tr>
        }

    </table>
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })


<a class="btn btn-outline-dark btn-sm" asp-action="Index">Back</a>